<!doctype html>
<html class="no-js" lang="es-es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{%block title%}{%endblock%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/brand-icon.png') }}">

        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        {%block style%}
          <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
          <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        {%endblock%}

        <script src="{{url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top main-bar">
                <a class="navbar-brand mr-0 mr-md-2 logo" href="{{url_for('index')}}">
                    <img src="{{url_for('static', filename='img/brand-icon.png')}}" width="50" height="50" class="d-inline-block align-middle logo" alt="">
                </a>
                <h1 class="brand-title col-sm">A ver si ahorra!</h1>
                <div class="container log-btn">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>                    
                    </div>
                    <div id="navbar" class="navbar-collapse collapse pull-right">
                        <div class="navbar-nav-scroll">
                            {%if current_user.is_authenticated%}
                            <ul class="navbar-nav bd-navbar-nav flex-row ">
                                <li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-user"></span>&nbsp {{current_user.username}}</a></li>
                                <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span>&nbsp Logout</a></li> 
                            </ul>
                            {%else%}
                            <ul class="navbar-nav bd-navbar-nav flex-row">
                                <li class="nav-item"><a href="#"> <span class="glyphicon glyphicon-heart"></span>&nbsp Support</a></li>
                                <li class="nav-item"><a href="{{url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span>&nbsp Login</a></li>
                                <li class="nav-item"><a href="{{url_for('signup')}}"><span class="glyphicon glyphicon-pencil"></span>&nbsp Sign up</a></li>
                            </ul>                                      
                                
                            {%endif%}
                        </div>
                    </div><!--/.navbar-collapse -->
                </div>
        </nav>
    
    {%block jumbotron%}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        {%if current_user.is_authenticated%}
        <div class="container">
                <h1>Que desea hacer?</h1>
                <a role="button" class="btn btn-default" href="/graphs"><span class="glyphicon glyphicon-certificate"></span>&nbsp Estadísticas</a></button>
                <a role="button" class="btn btn-default" href="/gastonew"><span class="glyphicon glyphicon-remove-sign"></span>&nbsp Nuevo Gasto</a></button>
                <a role="button" class="btn btn-default" href="/ingresonew"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp Nuevo Ingreso</a></button>
                <a role="button" class="btn btn-default" href="/sueldonew"><span class="glyphicon glyphicon-leaf"></span>&nbsp Cargar sueldo</a></button>
        </div>
        {%else%}
      <div class="container ">
        <h1>Bienvenido a "A ver si ahorra"!</h1>
        <p>Esta es una app que le permite gestionar sus ingresos y gastos, ayudandolo a tener un control diario.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
      {%endif%}
    </div>
    {%endblock%}

    <div class="container">
        <article class=flashes>
            {%with messages = get_flashed_messages()%}
                {%if messages%}
                    <ul>
                        {%for message in messages%}
                            <li style="text-align: center">{{message}}</li>
                        {%endfor%}
                    </ul>
                {%endif%}
            {%endwith%}
        </article>
      <!-- Example row of columns -->
      {%block content%}

      {%endblock%}
    </div>

      <hr>
      <footer style="clear: both">
        <p>Grupo 13 (Dueños y señores de Python) - Soporte 2018 </p>
      </footer>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{{url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>

        <script src="{{url_for('static', filename='js/main.js')}}"></script>

        {%block scripts%}

        {%endblock%}
    </body>
</html>
