{%extends "base.html"%}
{%from "form_macros.html" import render_field%}

{%block title%}
A Ver Si Ahorra -- Login
{% endblock%}

{%block content%}
    <section>
        <div>
            <h1 class="justify-content-center">Inicie sesion</h1>
            <form action="" method="post"class="form-group">
                {{form.hidden_tag()}}
                <table>
                    {{render_field(form.username, size=50, class="form-control")}}
                    {{render_field(form.password, size=50, class="form-control")}}
                    {{render_field(form.remember_me, class="form-check-label")}}
                    <button type="submit" class="btn btn-primary col-sm-2">Iniciar sesion</button>
                </table>
            </form>
        </div>
    </section>
{%endblock%}
