{%extends "base.html"%}
{%from "form_macros.html" import render_field%}

{%block title%}
Thermos -- Signup
{%endblock%}

{%block content%}
    <section style="clear:both">
        <div>
            <h1>Cree su cuenta</h1>
            <form action="" method="post" class="form-group">
                {{form.hidden_tag()}}
                <table>
                    {{render_field(form.username, size=50, class="form-control")}}
                    {{render_field(form.email, size=50, class="form-control")}}
                    {{render_field(form.password, size=50, class="form-control")}}
                    {{render_field(form.password2, size=50, class="form-control")}}
                    <button type="submit" class="btn btn-primary col-sm-2">Iniciar sesion</button>
                </table>
            </form>
        </div>
    </section>
{%endblock%}