{%extends "base.html"%}
{%from "form_macros.html" import render_field%}

{%block title%}
A Ver Si Ahorra -- {{title}}
{% endblock %}

{%block content%}
    <section>
        <div>
            <h1 class="justify-content-center">{{title}}</h1>
            <form action="" method="post" class="form-group">
                {{form.hidden_tag()}}
                <table>
                    {{render_field(form.valor, autofocus="autofocus", autocomplete="off", placeholder="Último sueldo cobrado", size=50, class="form-control")}}
                    <button type="submit" class="btn btn-primary">Agregar {{type}}</button>
                </table>
            </form>
        </div>
    </section>
{%endblock%}